# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de respaldo
*.bak
*.tmp
*.swp

# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Java
*.class
*.jar
*.war
*.ear

# Ruby
*.gem
*.rbc

# Logs
logs/
*.log

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de configuración del sistema
.vagrant/
*.iml

# Directorios de compilación
dist/
build/
target/

# Archivos de entorno
.env
entorno.txt